<!-- navbar.component.html -->
<header class="bg-pink-600 text-white shadow-md">
  <div class="container mx-auto px-4 py-3 flex justify-between items-center">
    <h1 class="text-xl font-bold">Mi Agenda</h1>

    <!-- Botón hamburguesa móvil -->
    <button class="sm:hidden" (click)="toggleMenu()">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"> </svg>
    </button>

    <!-- Navegación -->
    <nav class="hidden sm:flex gap-6">
      <a routerLink="/" class="hover:underline">Inicio</a>
      <a routerLink="/categorias" class="hover:underline">Categorías</a>
      <a routerLink="/servicios/categoria/:id" class="hover:underline">Servicios</a>
      <a routerLink="/citas" class="hover:underline">Citas</a>
        <a routerLink="/admin" class="hover:underline">Admin</a>
    </nav>
  </div>

  <!-- Menú móvil -->
  <div class="sm:hidden bg-pink-500 px-4 pb-3">
    <a routerLink="/" class="block py-2 border-b border-pink-400">Inicio</a>
    <a routerLink="/categorias" class="block py-2 border-b border-pink-400">Categorías</a>
    <a routerLink="/servicios/categoria/:id" class="block py-2">Servicios</a>
    <a routerLink="/citas" class="block py-2">Citas</a>
      <a routerLink="/admin" class="hover:underline">Admin</a>
  </div>
</header>
